/* ================================================================
//
// webOverrides-dark.css
//
//		This file includes css overrides that are necessary to make the default Win8 styles (ui-dark.css) more
//		web friendly.  See webOverrides-light.css for the partner file for ui-light.css
//
*/
/* Select a more web-friendly set of fonts
	TODO: Figure out what the best set of fonts are. */
body, input, textarea, button, select, option
{
	font-family: "Segoe UI", "Helvetica", "Verdana" !important;
	font-weight: 100;
}
/* Fix ratings control.  Sigh; no html entity for star.  Using heart instead.  See: http://www.evotech.net/blog/2007/04/named-html-entities-in-numeric-order/  
	TODO: &#9733;  == star, but (1) I'm not sure if that's websafe, and (2) you can't seem to use that formt in css content.
	TODO: use background-image instead?
*/
.win-rating .win-star:before
{
	content: '\2665';
}

/* Remove focus ring on FF.  See http://stackoverflow.com/questions/71074/how-to-remove-firefoxs-dotted-outline-on-buttons-as-well-as-links/199319#199319 */
:focus
{
	outline: none;
}
/* part of above */
::-moz-focus-inner
{
	border: 0;
}

/* Give buttons a cursor */
button
{
	cursor: pointer;
}

	/* Remove the border from IE's buttons and dropdown controls */
	button select
	{
		border: 0px;
	}

/* dropdowns */
option, select
{
	font-size: 16pt !important;
	line-height: 2;
}

option
{
	padding: 12px 6px;
	font-weight: 400;
}

.win-backbutton::before
{
	content: "<"; /* Was "\E0D5"; */
	font-size: 20pt; /* TBD: was ?*/
}

.win-backbutton:lang(ar)::before, .win-backbutton:lang(dv)::before, .win-backbutton:lang(fa)::before, .win-backbutton:lang(he)::before, .win-backbutton:lang(ku-Arab)::before, .win-backbutton:lang(pa-Arab)::before, .win-backbutton:lang(prs)::before, .win-backbutton:lang(ps)::before, .win-backbutton:lang(sd-Arab)::before, .win-backbutton:lang(syr)::before, .win-backbutton:lang(ug)::before, .win-backbutton:lang(ur)::before, .win-backbutton:lang(qps-plocm)::before
{
	content: "<"; /* Was "\E0AE"; */
	font-size: 20pt; /* TBD: was ?*/
}

/* Give clickable listview headers a pointer cursor */
.win-listview .win-groupheader p[role="link"]
{
	cursor: pointer;
}

/* Disallow drag-select of DOM elements in listviews and flipviews */
.win-listview, .win-flipview
{
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* clear backbutton content */
.win-backbutton:before
{
	content: "";
}
/* part of above */
.win-backbutton
{
    background:url("http://bluesky.io/images/icons.png") no-repeat scroll -40px 0px !important;
	/* Following is necessary to make it work on iOS (tbd: safari too? */
	background-size: 200px 1200px;
}

/* clear semantic zoom button content */
.win-semanticzoom-button:before
{
	content: "";
}
/* part of above */
.win-semanticzoom-button
{
    background:url("http://bluesky.io/images/icons.png") no-repeat scroll -9px -1122px rgba(216, 216, 216, 0.33);
	/* Following is necessary to make it work on iOS (tbd: safari too? */
	background-size: 200px 1200px;
}

/* ignore click events on listview selection border */
.win-selectionbordercontainer, .win-selectionbackground,.win-selectioncheckmarkbackground, .win-selectioncheckmark
{
    pointer-events:none;
}

/* AppBar styles */
#appBar
{
	height: 78px;
	background-color: rgba(0,0,0,0.95);
	padding: 5px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 10000;
}

.win-commandimage {
    background: url("http://bluesky.io/images/icons.png") repeat scroll 0 0 transparent !important;
    height: 40px;
    width: 40px;
}

button:disabled .win-commandimage, button:disabled:active .win-commandimage {
    opacity: .5;
}
    
.win-selectioncheckmark
{
    background: url("http://bluesky.io/images/icons.png") repeat scroll 0px 0px transparent;
    height: 36px;
    width: 36px;
    transform: scale(.65);
    -moz-transform: scale(.65);
    -webkit-transform: scale(.65);
    margin-right: -7px;
    margin-top: -7px;
}
#blueskyBug
{
    width: 124px;
    height: 60px;
    background-image: url(images/bsUnlit.png);
    background-repeat: no-repeat;
    background-position: 0px 2px;
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    left: -4px;
    z-index: 999; /* displays just under the appbar */
    opacity: .2;
}

    #blueskyBug.mouseout
    {
        opacity: .2;
    }

    #blueskyBug.mousein
    {
        opacity: .4;
    }

    #blueskyBug.mouseover
    {
        background-image: url(images/bsLit.png);
        opacity: 1;
    }

#blueskyBar
{
    position: fixed;
    bottom: 0px;
    height: 60px;
    background-color: rgba(11,11,11, 0.90);
    display: none;
    width: 100%;
    z-index: 998; /* displays just under the bs bug and appbar*/
}

#blueskyBugStatic
{
    width: 124px;
    height: 80px;
    background-image: url(images/bug_with_hosted_by.png);
    background-repeat: no-repeat;
    background-position: 0px 12px;
    position: fixed;
    bottom: 0px;
    opacity: .7;
    left: 0px;
    z-index: 999; /* displays just under the appbar */
}


.blueskyBarButton
{
    background-image: url('/images/bsBarButtons.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    float: left;
    opacity:.7;
}
    .blueskyBarButton:hover
    {
    opacity:1;
    }

    .blueskyBarButton#blueskyHomeButton
    {
        margin-left: 120px;
        background-position: 0px -0px;
    }

    .blueskyBarButton#blueskySearchButton
    {
        background-position: -40px -0px;
    }

    .blueskyBarButton#blueskyLikeButton
    {
        background-position: -80px -0px;
    }

    .blueskyBarButton#blueskySettingsButton
    {
        background-position: -120px -0px;
    }

    .blueskyBarButton#blueskyShareButton
    {
        background-position: -160px -0px;
    }

.blueskySearchFlyout
{
    width: 200px;
    height:120px;
    color: #000;
    background-color: #fff;
}