/*************************************************/
/*************************************************/
/*              NEW WEB CODE - REMOVE             /
/*************************************************/
/*************************************************/

body
{
	/* Better (but not great) fonts for iOS.  Started with the font-string in ui-dark.css and added Lucida-grande */
	font-family: "Segoe UI","Ebrima","Nirmala UI","Gadugi","Segoe UI Symbol","Meiryo UI",'Lucida Grande', 'Lucida Sans Unicode', "Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
}

.win-backbutton::before {
    content: "<"; /* Was "\E0D5"; */
    font-size: 20pt; /* TBD: was ?*/
}
.win-backbutton:lang(ar)::before, .win-backbutton:lang(dv)::before, .win-backbutton:lang(fa)::before, .win-backbutton:lang(he)::before, .win-backbutton:lang(ku-Arab)::before, .win-backbutton:lang(pa-Arab)::before, .win-backbutton:lang(prs)::before, .win-backbutton:lang(ps)::before, .win-backbutton:lang(sd-Arab)::before, .win-backbutton:lang(syr)::before, .win-backbutton:lang(ug)::before, .win-backbutton:lang(ur)::before, .win-backbutton:lang(qps-plocm)::before {
    content: "<"; /* Was "\E0AE"; */
    font-size: 20pt; /* TBD: was ?*/
}

/* Account for lack of -ms-grid on all pages; force the header text to render next to the back button, not under*/
.titlearea
{
	display: inline-block;
	margin-left: 20px;
}

/* Part of above.  */
.fragment header[role="banner"] .win-backbutton
{
	vertical-align: top; /*shift button to top to align */
	margin-left: 55px; /* shift title over to align with body */
}

/* Account for lack of -ms-grid on pcDetails page; force the header text to render next to the back button, not under*/
.itemdetailpage .section
{
	float: left; /* Make the columns go across instead of down*/
}

/* part of above. */
.itemdetailpage section[role="main"] article
{
	width: 2400px !important; /* This is hackish; it's forcing the width of the article to 4 columns so that they'll layout out one-after-the-other and not drop.  Dan: better way?*/
}

	.itemdetailpage section[role="main"] article .section
	{
		width: 500px !important;
		padding-right: 80px; /* Account for lack of -ms-column-gap:80px*/
	}

/* AppBar styles */
#appBar
{
	height: 78px;
	background-color: rgba(0,0,0,0.95);
	padding: 5px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 10000;
}

button.win-command .win-label
{
	color: rgb(255, 255, 255);
}
