/* ================================================================
//
// webOverrides-light.css
//
//		This file includes css overrides that are necessary to make the default Win8 styles (ui-light.css) more
//		web friendly.  See webOverrides-dark.css for the partner file for ui-dark.css
//
*/
/* Select a more web-friendly set of fonts
	TODO: Figure out what the best set of fonts are. */
body, input, textarea, button, select, option
{
	font-family: "Segoe UI", "Helvetica", "Verdana" !important;
	font-weight: 100;
}
/* Fix ratings control.  Sigh; no html entity for star.  Using heart instead.  See: http://www.evotech.net/blog/2007/04/named-html-entities-in-numeric-order/  
	TODO: &#9733;  == star, but (1) I'm not sure if that's websafe, and (2) you can't seem to use that formt in css content.
	TODO: use background-image instead?
*/
.win-rating .win-star:before
{
	content: '\2665';
}

/* Remove focus ring on FF.  See http://stackoverflow.com/questions/71074/how-to-remove-firefoxs-dotted-outline-on-buttons-as-well-as-links/199319#199319 */
:focus
{
	outline: none;
}
/* part of above */
::-moz-focus-inner
{
	border: 0;
}

/* Give buttons a cursor */
button
{
	cursor: pointer;
}

	/* Remove the border from IE's buttons and dropdown controls */
	button select
	{
		border: 0px;
	}

/* dropdowns */
option, select
{
	font-size: 16pt !important;
	line-height: 2;
}

.win-backbutton::before
{
	content: "<"; /* Was "\E0D5"; */
	font-size: 20pt; /* TBD: was ?*/
}

.win-backbutton:lang(ar)::before, .win-backbutton:lang(dv)::before, .win-backbutton:lang(fa)::before, .win-backbutton:lang(he)::before, .win-backbutton:lang(ku-Arab)::before, .win-backbutton:lang(pa-Arab)::before, .win-backbutton:lang(prs)::before, .win-backbutton:lang(ps)::before, .win-backbutton:lang(sd-Arab)::before, .win-backbutton:lang(syr)::before, .win-backbutton:lang(ug)::before, .win-backbutton:lang(ur)::before, .win-backbutton:lang(qps-plocm)::before
{
	content: "<"; /* Was "\E0AE"; */
	font-size: 20pt; /* TBD: was ?*/
}

/* Give clickable listview headers a pointer cursor */
.win-listview .win-groupheader p[role="link"]
{
	cursor: pointer;
}

/* Disallow drag-select of DOM elements in listviews and flipviews */
.win-listview, .win-flipview
{
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* clear backbutton content */
.win-backbutton:before
{
	content: "";
}
/* part of above */
.win-backbutton
{
    background:url("http://bluesky.io/images/icons-dark.png") no-repeat scroll -40px 0px transparent !important;
	/* Following is necessary to make it work on iOS (tbd: safari too? */
	background-size: 200px 1200px;
}

/* clear semantic zoom button content */
.win-semanticzoom-button:before
{
	content: "";
}
/* part of above */
.win-semanticzoom-button
{
    background:url("http://bluesky.io/images/icons-dark.png") no-repeat scroll -9px -1122px rgba(216, 216, 216, 0.33);
	/* Following is necessary to make it work on iOS (tbd: safari too? */
	background-size: 200px 1200px;
}

/* ignore click events on listview selection border */
.win-selectionbordercontainer, .win-selectionbackground,.win-selectioncheckmarkbackground, .win-selectioncheckmark
{
    pointer-events:none;
}

/* AppBar styles */
#appBar
{
	height: 78px;
	padding: 5px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 10000;
}

.win-commandimage {
    background: url("http://bluesky.io/images/icons-dark.png") repeat scroll 0 0 transparent;
    height: 40px;
    width: 40px;
}