/* This file contains style overrides that apply to all of the Win8 SDK samples.  These overrides
   are necessary to make WinJS look good on other browsers, in particular dealing with the lack of
  -ms-grid, which the Win8 SDK samples rely heavily upon */

/* Address the lack of Segoe UI Light */
.notIE10 #descLabel, #listLabel, #featureLabel {
    font-family: "Segoe UI", "Helvetica", "Verdana";
}

/* The following css is all to address the lack of -ms-grid on non-IE10 browsers */
.notIE10 #rootGrid {
    position: absolute;
    left: 100px;
    right: 100px;
}

.notIE10 .fragment section[role="main"] {
    position: absolute;
    top: 140px;
    bottom: 0px;
    left: 0px;
    right: 200px;
}

.notIE10 .fragment header[role="banner"] {
    padding-top: 20px;
}

.notIE10 #footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.notIE10 .content {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.notIE10 .TOCCenter {
    margin-left: 60px;
}

.notIE10 .controlEventsItemTemplate img {
    height: 270px;
    margin-left: 36px;
}

.notIE10 .details {
    position: absolute;
    top: 100px;
    left: 530px;
    right: 110px;
}

.notIE10 .itemContainer {
    border-left: solid 6px #0c0 !important;
}

.notIE10 #links {
    margin-right: 120px;
    padding-bottom: 20px;
}

.notIE10 .overlay {
    margin-top: -80px;
}
