/* ================================================================
//
// webOverrides-dark.css
//
//		This file includes css overrides that are necessary to make the default Win8 styles (ui-dark.css) more
//		web friendly.  See webOverrides-light.css for the partner file for ui-light.css
//
*/

/* Select a more web-friendly set of fonts
	TODO: Figure out what the best set of fonts are. 
    */
body, h1, h2, h3, h4, input, textarea, button, select, option
{
	font-family: "Segoe UI", "Helvetica", Verdana;
	font-weight: 100;
}

/* Fix ratings control.  Sigh; no html entity for star.  Using heart instead.  See: http://www.evotech.net/blog/2007/04/named-html-entities-in-numeric-order/  
	TODO: &#9733;  == star, but (1) I'm not sure if that's websafe, and (2) you can't seem to use that formt in css content.
	TODO: use background-image instead?
*/
.win-rating .win-star:before
{
	content: '\2665';
}

/* Remove focus ring on FF.  See http://stackoverflow.com/questions/71074/how-to-remove-firefoxs-dotted-outline-on-buttons-as-well-as-links/199319#199319 */
:focus
{
	outline: none;
}
/* part of above */
::-moz-focus-inner
{
	border: 0;
}

/* Give buttons a cursor */
button
{
	cursor: pointer;
}

	/* Remove the border from IE's buttons and dropdown controls */
	button select
	{
		border: 0px;
	}

/* dropdowns */
option, select
{
	font-size: 11pt;
	line-height: 2;
}

option {
    padding:12px 6px;
    font-weight: 400;
}